@font-face {
  font-family: "Zeyada";
  src: url("../../public/fonts/Zeyada-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

html {
  background-color: #191919;
  color: #e6e8e6;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html,
* {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.swiper-slide {
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-wrapper {
  align-items: center !important;
  display: flex !important;
}

/* Hide default cursor ONLY on desktop hover devices */
@media (hover: hover) and (pointer: fine) {
  body {
    cursor: none;
  }
}
